.nav li.nav-header, .nav-list li.nav-header {
    color: #999999;
    margin: 0;
}

.nav-header, li.nav-header a {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;

    text-transform: uppercase;
}

li.nav-header.divider a {
	display: block;
	padding: 0;
}

li.nav-header.divider {

	margin: 5px 0;
	padding: 0;
}

li.nav-header a {
    pointer-events: none;
    cursor: default;
    margin: 0 -15px;
    color: inherit;
}

.callout ul.nav a {
    text-decoration: none;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: auto;
    height: auto;

}

.kv-form-bs3 .hint-block {

    margin-top: 5px;
}



/*

.skin-green-light .main-header .navbar .dropdown-menu li a {
    color: #fff !important;
}
*/